body {
	background-color: #f0f279;
}

.jumbotron {
	background-color: inherit;
	font-family: 'Schoolbell', cursive;
	text-align: center;
}

.jumbotron h1 {
	font-size: 78px;
}

.jumbotron h2 {
	font-size: 36px;
}

.intro {
	margin-bottom: 25px;
}

.btn {
	background-color: #defffc;
}

.btn:hover {
	background-color: #ed6a5a;
}

img {
	width: 100%;
}

p {
	font-size: 18px;
}

h3 {
	font-family: 'Schoolbell', cursive;
	font-size: 36px;
}

#meloni, #wes, #kanye, #glover, #none {
	display: none;
	margin-top: 250px;
	padding: 15px;
	border-radius: 25px;
	text-align: right;

}

#meloni {
	background-color: #d0b8ac;
}

#wes {
	background-color: #fcbcb8;
	}

#kanye {
	background-color: #ebf5df;
}

#glover {
	background-color: #a7e8bd;
}

#none {
	background-color: rgba(22, 100, 50, .3);
	text-align: center;
}
